<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Login Page</h1>
        </div>
        <div>
            <form action="/logincheck" method="POST" >
                <label>Mail</label><br>
                <input type="text" name="email"/><br>
                
                <label>Clave</label><br>
                <input type="text" name="password"/><br>
               
                <button type="submit">Registrar</button><br>
            </form>
        </div>
    </body>
</html>
