<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Perfil</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo-circulo.png" rel="icon">
  <link href="/img/logo-circulo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https:/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>



<div th:insert="static/header :: header" ></div>
<div th:insert="static/inner-page :: inner-page" ></div>

<main id="main">
<section class="inner-page">
  <div class="container">

    <div>
                    <p th:if="${usuario != null}" th:text="${usuario.name}"></p>
                    <p th:if="${usuario != null}" th:text="${usuario.lastName}"></p>
                    <p th:if="${usuario != null}" th:text="${usuario.mail}"></p>
                    <p th:if="${usuario != null}" th:text="${usuario.usuarioTag}"></p>    

                    <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.name}"></p>
                    <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.lastName}"></p>
                    <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.mail}"></p>
                    <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.usuarioTag}"></p>
                </div>

                <a href="/edit_user"  <a th:if="${session.userSession != null && usuario == null}">Editar datos Personales</a><br>
                <a th:if="${session.userSession != null && usuario == null && session.userSession.usuarioTag == session.userSession.UsuarioTag.ADMIN}" href="/admin_panel" th:text="'Panel de Admin'" >a</a><br>

  </div>
</section>

</main><!-- End #main -->
 
<div th:insert="static/footertop :: footertop" ></div>
<div th:insert="static/footer :: footer" ></div>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>
<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/vendor/counterup/counterup.min.js"></script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</html>
