<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
    <head>
        <title>Login Success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Welcome</h1>
            <p th:if="${session.userSession != null}" th:text="${session.userSession.name}"></p>
            <p th:if="${session.userSession != null}" th:text="${session.userSession.lastName}"></p>
            <p th:if="${session.userSession != null}" th:text="${session.userSession.mail}"></p>
            <p th:if="${session.userSession != null}" th:text="${session.userSession.usuarioTag}"></p>    
        </div>
        
         <a th:if="${session.userSession.usuarioTag == session.userSession.UsuarioTag.ADMIN}" href="/admin_panel" th:text="'Panel de Admin'" >a</a><br>
         
    </body>
</html>
