<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Perfil de ${username}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo-circulo.jpeg" rel="icon">
  <link href="/img/logo-circulo.jpeg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https:/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a
          href="mailto:concienciapolitica.uca@gmail.com">concienciapolitica.uca@gmail.com</a>
        <i class="icofont-phone"></i> +54 291 572-1221
      </div>
      <div class="social-links float-right">
        <a href="https:/instagram.com/conciencia.politica" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https:/twitter.com/_concienciapol" class="twitter"><i class="icofont-twitter"></i></a>
      </div>
    </div>
  </section>


    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container">

          <div class="logo float-left">

              <h1 class="text-light"><a href="/"><img src="/img/logo.jpg" alt="" class="img-fluid"><span> Conciencia
                          Politica</span></a></h1>

          </div>

          <nav class="nav-menu float-right d-none d-lg-block">
              <ul>
                  <li><a href="#about">Quienes Somos</a></li>
                  <li><a href="#team">Equipo</a></li>
                  <li class="drop-down"><a href="">Categorias</a>
                      <ul>
                          <li><a href="#">Argentina</a></li>
                          <li><a href="#">África</a></li>
                          <li><a href="#">Asia y Medio Oriente</a></li>
                          <li><a href="#">Europa</a></li>
                          <li><a href="#">Estados Unidos</a></li>
                          <li><a href="#">Latinoamérica</a></li>
                          <li><a href="#">Historia</a></li>
                          <li><a href="#">AVISOS</a></li>
                      </ul>
                  </li>
                  <li>
                      <div th:if="${username != null}">
                          <div th:if="${session.userSession.usuarioTag == session.userSession.UsuarioTag.ADMIN}" class="drop-down">
                              <a th:text="'Hola, ' + ${username} + '!' "></a>
                              <ul>
                                  <li><a style="text-align: right" href="/profile">Mi Perfil</a></li>
                                  <li><a style="text-align: right" href="/admin_panel">Panel Administrador</a></li>
                                  <li><a style="text-align: right" href="/createArticle">Crear Noticia</a></li>
                                  <li><a style="text-align: right" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                                      <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                                    </svg> Cerrar Sesión</a></li>
                              </ul>
                          </div>
                          <div th:if="${session.userSession.usuarioTag == session.userSession.UsuarioTag.EDITOR}" class="drop-down">
                              <a th:text="'Hola, ' + ${username} + '!' "></a>
                              <ul>
                                  <li><a style="text-align: right" href="/profile">Mi Perfil</a></li>
                                  <li><a style="text-align: right" href="/createArticle">Crear Noticia</a></li>
                                  <li><a style="text-align: right" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                                      <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                                    </svg> Cerrar Sesión</a></li>
                              </ul>
                          </div>
                      </div>
                      <div th:unless="${username != null}">
                          <a href="/login">Iniciar Sesión</a>
                      </div>
                  </li>
              </ul>
          </nav><!-- .nav-menu -->

      </div>
  </header><!-- End Header -->



  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="/">Inicio</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <div>
                        <p th:if="${usuario != null}" th:text="${usuario.name}"></p>
                        <p th:if="${usuario != null}" th:text="${usuario.lastName}"></p>
                        <p th:if="${usuario != null}" th:text="${usuario.mail}"></p>
                        <p th:if="${usuario != null}" th:text="${usuario.usuarioTag}"></p>    

                        <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.name}"></p>
                        <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.lastName}"></p>
                        <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.mail}"></p>
                        <p th:if="${session.userSession != null && usuario == null}" th:text="${session.userSession.usuarioTag}"></p>
                    </div>

                    <a th:if="${session.userSession != null && usuario == null && session.userSession.usuarioTag == session.userSession.UsuarioTag.ADMIN}" href="/admin_panel" th:text="'Panel de Admin'" >a</a><br>

      </div>
    </section>

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Conciencia Politica</span></strong>. Todos los derechos reservados.
      </div>
      <div class="credits">
        Designed and Powered by <a href="https:/daisansf.com/">daisan solutions</a>
      </div>
    </div>
  </footer><!-- End Footer -->

        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/vendor/php-email-form/validate.js"></script>
        <script src="/vendor/jquery-sticky/jquery.sticky.js"></script>
        <script src="/vendor/venobox/venobox.min.js"></script>
        <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="/vendor/counterup/counterup.min.js"></script>
        <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="/js/main.js"></script>

    </body>

</html>