<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<div th:fragment="footer">
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Conciencia Politica</span></strong>. Todos los derechos reservados.
        </div>
        <div class="credits">
            Designed and Powered by <a target="_blank" rel="noopener noreferrer" href="https:/daisansf.com/">daisan solutions</a>
        </div>
    </div>
</footer><!-- End Footer -->
</div>
</html>
